.card {
  --container-display: flex;
  display: var(--container-display);
  flex-direction: column;
  border: 2px solid black;
  background: var(--theme-surface-color, '#ddd');
  padding: 4px 8px;
  box-shadow: 4px 4px;
}
