
.p-sm {
    padding: 0.5rem;
}

.p-md {
    padding: 0.75rem;
}

.min-width-800 {
    min-width: 800px;
}

.pa-none {
    padding: 0;
}

.pa-sm {
    padding: 2px;
}

.pa-md {
    padding: 4px;
}

.px-xs {
    padding-left: 2px;
    padding-right: 2px;
}

.px-sm {
    padding-left: 4px;
    padding-right: 4px;
}

.px-md {
    padding-left: 8px;
    padding-right: 8px;
}

.ma-sm {
    margin: 2px;
}

.ma-md {
    margin: 4px;
}

