@font-face {
    font-family: 'Basik8';
    src: url('/Baskic8.otf');
}

// https://www.fontspace.com/pixelated-elegance-font-f126145
@font-face {
    font-family: 'Pixel Elegance';
    src: url('/PixelatedEleganceRegular-ovyAA.ttf');
}



.theme {
    font-family:var(--font-family);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    --theme-surface-color: #ddd;
}

.theme-pixel {
    --font-family: 'Pixel Elegance', 'Basik8','Pixelify Sans', sans-serif;
}

.theme-jacquard {
    --font-family: 'Jacquard 24', sans-serif;
}