.grid-tiles {

    display: flex;
    gap: 8px;
    padding: 6px;

    .active-tile {
        max-width: 325px;

        .tile-preview {
            display: flex;
            flex-direction: row;
            gap: 4px;
        }

        .tile {
            max-width: 76px;
            max-height: 76px;
            border: 0;
        }
    }
    
    .tile {
        width: 100%;
        aspect-ratio: 1;
        border: 3px transparent solid;
        img {
            width: 100%;
            height: 100%;
            image-rendering: pixelated;
        }
        
        &.selected {
            border-color: var(--color-accent);
        }
    }

    .tile-info {
        grid-column-start: active;
        grid-column-end: active-end;

        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        header {
            input[type="file"] {
                display: none;
            }    
        }
    
        .active-tile {
            .tile {
                max-width: 60px;
                max-height: 60px;
            }
        }

       
    }

    .tiles {
        display: grid;
        grid-template-columns:  repeat(auto-fit, 84px);
        grid-template-rows: repeat(3, 84px);
        gap: 4px;
        grid-column-start: active-end;
        grid-column-end: end;

        > * {
            width: 100%;
            aspect-ratio: 1;
            border: 1px solid black;
            max-width: 84px;
        }
    }
}